
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
}


.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: aquamarine;
}

.header {
    grid-column: 2;
    background-color: rgb(252, 249, 242);
}

.searchbar {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
    margin: 15px 0 0 35px;
}

.bar {
    width: 450px;
    height: 25px;
    background-color: rgb(212, 238, 225);
    border-radius: 15px;
    margin: 0 85px 0 15px;
}

.notification-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.avatar-container {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: rgb(236, 131, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 60%;
    height: 60%;
    object-fit: cover;
    display: block;
}

.banner {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin: 35px 0 0 35px;
    padding-bottom: 15px;
}

.greeting-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
    
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-left: 365px;
}

.button, .button1 {
    background-color:aquamarine;
    border-radius: 15px;
    padding: 7px 20px 7px 20px;
    border-style: none;

}

.button1 {
    padding: 7px 27px 7px 27px; 
}


.icon, 
.bell-icon,
.search-icon {
    height: 20px;
}

.profile-container,
.trending-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: rgb(236, 131, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-avatar,
.user {
    width: 60%;
    height: 60%;
    object-fit: cover;
    display: block;
}

h2 {
    padding: 15px;
}


.main-content {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3,150px);
    gap: 15px;
    padding: 0px 15px;
}

.project {
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
}
