
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
}


.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: rgb(190, 207, 240); 
    padding: 25px;
    
}

.sidebar-brand {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-style: normal;
}

span {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.sidebar-items {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


.header {
    grid-column: 2;
    background-color: rgb(252, 249, 242);
}

.searchbar {
    display: inline-flex;
    align-items: center;
    margin: 15px 0 0 35px;
}

.bar {
    width: 450px;
    height: 25px;
    background-color: rgb(221, 224, 231); 
    border-radius: 15px;
    margin: 0 85px 0 15px;
}

.notification-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.avatar-container {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: rgb(236, 131, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar,
.user {
    width: 60%;
    height: 60%;
    object-fit: cover;
    display: block;
}

.banner {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin: 35px 0 0 35px;
    padding-bottom: 15px;
    
}

.greeting-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
    
}

.greeting {
    font-size: 14px;
    font-weight: 600;
}

.profile-name {
    font-weight: 600;
}

#user-name {
    font-weight: 600;
    font-size: 18px;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-left: 365px;
}

.button, .button1 {
    background-color: rgb(190, 207, 240); 
    border-radius: 15px;
    padding: 7px 20px 7px 20px;
    border-style: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    transition: transform 0.3s, background-color 0.3s ease-out;
}

.button1 {
    padding: 7px 27px 7px 27px; 
}

button {
    transition: transform 0.3s, background-color 0.3s ease-out;
}

button:hover {
    background-color: #da99e1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #060e11;
    font-weight: bolder;
}



.icon, 
.bell-icon,
.search-icon {
    height: 20px;
}

.profile-container,
.trending-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: rgb(236, 131, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-avatar,
.user {
    width: 60%;
    height: 60%;
    object-fit: cover;
    display: block;
}

.main-content {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: start;
}

.projects {
    display: grid; 
    grid-template-columns: repeat(2, minmax(300px, 3fr));
    gap: 15px;
    padding-left: 25px;
    padding-bottom: 25px;
    
}

.projects > h2 {
    grid-column: 1 / -1;
    margin: 0;
    padding-top: 15px;
    font-weight: 600;
    font-family: 'Outfit';
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

p {
    padding-top: 5px;
    font-size: 11px;
    font-family: 'Happy Monkey', sans-serif;
}

.project {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.project:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(214, 6, 6, 0.15);
    background-color:rgb(197, 189, 179);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 15px;
    margin-top: 10px;
}

.share {
    width: 20px;
    height: auto;
}

.trending-avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: rgb(236, 131, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-content {
    padding-right: 25px;
}


.announcements {
    margin-top: 13px;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.announcement {
    padding-bottom: 20px;
}

h4 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
}

.caption {
    padding: 15px 0 0 0;
}

.line {
    width: 250px;
    background-color: rgb(186, 186, 186);
    height: 2px;
    border-radius: 10px;
    margin-top: 16px;
}

.trending {
    margin: 13px 0 25px 0;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.trending-user {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.user-info {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.user-info span:last-child {
    font-size: 12px;
    color: rgb(127, 127, 127);
}

#first {
    background-color:rgb(199, 199, 199);
}

#second {
    background-color: rgb(168, 168, 231);
}

#fourth {
    background-color:rgb(237, 177, 197);
}