
.icon, 
.bell-icon,
.search-icon {
    height: 20px;
}

.avatar-container {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: rgb(236, 131, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 70%;
    height: 70%;
    object-fit: cover;
    display: block;
}